# environment files
.env

# Personal vscode settings
.vscode/

# Python artifacts
.ipynb_checkpoints
__pycache__
*.py[cod]
.coverage
.DS_Store

# Emacs
*~
# secret-store files
kubernetes/kedro-env-creds-spc.yaml
kubernetes/kedro-base-creds-spc.yaml
kuberneteskedro-dev-creds-spc.yaml
kubernetes/kedro-s3-paths-spc.yaml

#local env
kedro1

#temp ignore current year k8 jobs
kubernetes/2025/
